html, body{
            background-color: #351c07;
        }
        label{ color: #f6d8c9;

        }
         h1{ 
            background: linear-gradient(82deg, #fdcc64 -4.24%, #79270c 106.66%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             text-transform: uppercase;
             height: 175px;
             width: 300px;
             margin: 0 auto;
             text-align: center;
             font-family: "Fjalla One", sans-serif;
        }

        p{
            color: #f6d8c9;
            width: 200px;
            margin: 0 auto;
            text-align: center;
           }

           img {
            display: block;
            margin: 20px auto;
           }
           a{
            display: inline-block;
            background-color: #fdcc64;
            padding: 12px 24px;
            color: #363131;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #cc0210;
            border-radius: 16px;

           }
           a:hover {
            background-color: #cc0210;
            color: white;
           }

           .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 40px;
           }

           .buttons.right {
            justify-content: end;
           }

           form {
                display: grid;
                place-content: center;
                min-height: 100vh;
            }

            .form-control {
            font-family: system-ui, sans-serif;
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.1;
            display: grid;
            grid-template-columns: 1em auto;
            gap: 0.5em;
            }

            .form-control + .form-control {
            margin-top: 1em;
            }

            .form-control:focus-within {
            color: var(--form-control-color);
            }
                    
                    
                    input[type="radio"] {
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            /* Remove most all native input styles */
            appearance: none;
            /* For iOS < 15 */
            
            /* Not removed via appearance */
            margin: 0;

            font: inherit;
            color: #fdcc64;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid #fdcc64;
            border-radius: 50%;
            transform: translateY(-0.075em);

            display: grid;
            place-content: center;
            }

            input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em #fdcc64;

            }

            input[type="radio"]:checked::before {
            transform: scale(1);
            }

            input[type="radio"]:focus {
            outline: max(2px, 0.15em) solid currentColor;
            outline-offset: max(2px, 0.15em);
            }
           